// 
// projects.scss
//

// project list

.project-list-table {
  border-collapse: separate;
  border-spacing: 0 12px;

  tr {
    background-color: var(--#{$prefix}custom-white);
  }
}

.workspaces-container{
  width: 100%;
  color: red;
  border-color: red;
  
}